footer{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    position: absolute;
    border-top: 1px solid#CCCCCC;
}