.places article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
.places article:hover {
    border: 2px solid #f09597;
}
.places h1 {
    font-size: 30px;
    text-align: left;
}
.places h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
}